{% extends 'base.html' %}

{% block title %}Tracking {% endblock %}

{% block content %}
<div class="container">
    <div id="main" style="text-align: center; padding: 50px;">
        <h1>Tracking Number</h1>
        <form method="GET">
            <label for="number"></label>
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="submit" value="Submit" id="button-addon1">Submit</button>
                <input type="text" name="number" value="{{ request.GET.number }}" placeholder="number..." class="form-control" aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Track</th>
            </tr>
        </thead>
        {% for stat in data.status %}
            {% for t in data.time %}
                {% if forloop.counter == forloop.parentloop.counter %}
                    <tbody>
                        <tr>
                          <td>{{ t }}</td>
                          <td>{{ stat }}</td>
                        </tr>
                    </tbody>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</div>

{% endblock %}